
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.squareCheckers {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 26px;
  font-weight: bold;
  line-height: 34px;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 40px;
}

.squareCheckers:focus {
  border: 3px solid black;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

