.letter {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.letter:focus {
  outline: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.key-button {
  padding: 9px;
  border-radius: 5px;
  margin: 2px;
  border: none;
}