.letter {
  background: #fff;
  border: 1px solid #999;
  font-size: 32px;
  font-weight: bold;
  height: 45px;
  width: 45px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.letter:focus {
  outline: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.key-button {
  padding: 9px;
  border-radius: 5px;
  margin: 2px;
  border: none;
  color: black;
  min-width: 28px;
}