body {
  background-color: black;
  color: white;
}

.main-section {
  padding-top: 70px;
}

.status {
  color: black;
}

.company-icon {
  max-width: 150px;
  margin-bottom: 5px;
}

.company-row {
  margin-bottom: 50px;
}

.contact-icon {
  max-width: 40px;
}

.experience-title {
  font-weight: bold;
}

.card-image {
  background-color: #111111;
}

.card {
  margin-bottom: 10px;
  cursor: pointer;
}

.button-bw {
  border-radius: 30px;
  background-color: white;
  color: #111111;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  text-decoration: none;
}

.form-group {
  margin-bottom: 10px;
}